*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
}

.soon{
	margin-top: 60px;
	background: #0d1e2a;
	width: 100%;
    	height: calc(100vh - 60px);
	display: flex; 
 	justify-content: center; 
 	align-items: center;
}

.coming{
	top: 50%;
        left: 50%;
	font-size: 85px;
	color: #fff;
}

.logotype{
	display: block;
	font-size: 20px;
	font-weight: 250;
}

.logotype .M{
	color: royalblue;
	font-weight: 450;
}

.logotype .O{
	color: darkorange;
	font-weight: 450;
}

.logotype .S{
	color: cadetblue;
	font-weight: 450;
}

.navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    z-index: 9;
}

.links-container{
    display: flex;
    list-style: none;
}

.link{
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 250;
    font-size: 18px;
    text-transform: capitalize;
    color: #000;
}

.logotype-mobile{
    display: none;
}
.link-item{
    display: block;
}
.link-item-mob{
    display: none;
}

@media screen and (max-width: 600px){
    .logotype-mobile{
        display: block;
        font-size: 20px;
        font-weight: 250;
    }
    .logotype{
        display: none;
    }
    .link-item{
        display: none;
    }
    .link-item-mob{
        display: block;
    }
    .coming{
	top: 50%;
        left: 50%;
	font-size: 45px;
	color: #fff;
    }
	
}
