*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
    background: #0d1e2a;
}
::selection{
    background: #1b1b1b;
     color: #fff;
 }

 .logotype{
     box-sizing: content-box;
     font-size: 20px;
    font-weight: 250;
}
.imagez{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 3vw;
    max-width: 50%;
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
    row-gap: 50px;
}
.images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    height: calc(100vh - 1080px);
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
    row-gap: 50px;
}
.link-item{
    display: block;
}
.link-item-mob{
    display: none;
}
.logotype .M{
    color: royalblue;
    font-weight: 450;
}
.logotype .O{
    color: darkorange;
    font-weight: 450;
}
.logotype .S{
    color: cadetblue;
    font-weight: 450;
}
.logotype-mobile{
    display: none;
}
.navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    z-index: 9;
    padding: 0 5vw;
}
.links-container{
    display: flex;
    list-style: none;
}
.link{
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 250;
    font-size: 18px;
    text-transform: capitalize;
    color: #000;
}
.soon{
    margin-top: 70px;
    background: #0d1e2a;
    width: 100%;
    height: 100vh;
    padding: 50px 5vw;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}
.what{
    color: white;
    padding-bottom: 3px;
    margin-top: 340px;
}
.is{
    color: #d4d3d2;
    font-size: 20px;
    padding: 0 5vw;
}
.team{
    color: white;
    padding-top: 20px;
    margin-bottom: 20px;
}
.face{
    margin-bottom: 7px;
    max-width: 80%;
    border: 3px solid white; 
}
.farid{
    color: white;
    width: 500px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coming{
    top: 50%;
    left: 50%;
    font-size: 85px;
    color: #fff;
}
@media screen and (max-width: 600px){
    .logotype-mobile{
        display: block;
        font-size: 20px;
        font-weight: 250;
        box-sizing: content-box;
    }
    .logotype{
        display: none;
    }
    .link-item{
        display: none;
    }
    .is{
        padding: 0;
        font-size: 18px;
    }
    .link-item-mob{
        display: block;
    }
    .what{
        padding: 0;
        color: white;
        margin-top: 1200px;
    }
    .images{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        max-width: 100%;
        justify-content: center; 
        align-items: center;
        margin: 0 auto;
        row-gap: 50px;
    }
}
