*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    position: relative;
    font-family: 'poppins', sans-serif;
}

::selection{
    background: #1b1b1b;
    color: #fff;
}

.categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catgories{
    width: 100%;
    height: 500px;
}

.blogs-section{
    min-height: 100vh;
    margin-top: 60px;
}

.category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.category{
    padding: 15px 15px;
    width: 100%;
    height: 200px;
}

.category.biology{
    background-image: url('../img/biology.png');
}

.footer-div{
    padding:  0 5vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.copyright{
    margin-bottom: 10px;
}

.contacttitle{
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
}

.contact{
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
}

.footer {
    text-align: center;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    background-color: #0d1e2a;
}



.logotype{
    box-sizing: content-box;
    font-size: 20px;
    font-weight: 250;
}

.logotype .M{
    color: royalblue;
    font-weight: 450;
}

.logotype .O{
    color: darkorange;
    font-weight: 450;
}

.logotype .S{
    color: cadetblue;
    font-weight: 450;
}

.logotype-mobile{
    display: none;
}

.navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background: #fff;
    align-items: center;
    z-index: 9;
    padding: 0 5vw;
}

.links-container{
    display: flex;
    list-style: none;
}

.link{
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 250;
    font-size: 18px;
    text-transform: capitalize;
    color: #000;
}

.header{
    margin-top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    background: url(../img/header.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
}

.heading{
    color: #fff;
    font-size: 80px;
    line-height: 60px;
    margin-bottom: 80px;
}

.link-item{
    display: block;
}
.link-item-mob{
    display: none;
}

.heading .small{
    display: block;
    font-size: 40px;
}

.heading .no-fill{
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.btn{
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}

.blogs-section{
    width: 100%;
    padding: 50px 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
}

.blog-image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blog-overview{
    margin: 10px 0 20px;
    line-height: 30px;
}

.btn.dark{
    background: #1b1b1b;
    color: #fff;
}
@media screen and (max-width: 600px){
    .heading{
        color: #fff;
        font-size: 45px;
        line-height: 50px;
    }
    .blogs-section{
        width: 100%;
        padding: 50px 5vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 80px;
    }
    .logotype-mobile{
        display: block;
        box-sizing: content-box;
        font-size: 20px;
        font-weight: 250;
    }
    .logotype{
        display: none;
    }
    .link-item{
        display: none;
    }
    .link-item-mob{
        display: block;
    }
}
